@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif; }

header .MiNavBar {
  background-color: #B98389;
  align-items: center;
  height: auto; }

header .navbar a:hover {
  background-color: #EDE3E4;
  border-radius: 5px; }

.MiContenedor .image1,
.MiContenedor .image2,
.MiContenedor .image3,
.MiContenedor .image4 {
  max-width: 100%;
  max-height: auto; }

.sobre_nosotros {
  padding: 18px 10px; }
  .sobre_nosotros .tituloSobreNosotros {
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center; }
  .sobre_nosotros .info-SN {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 18px 10px;
    line-height: 1.6;
    text-align: center; }

.footer {
  background-color: #B98389;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 15px;
  font-family: "Quicksand", sans-serif; }
  .footer .iconos_redes {
    display: flex;
    align-items: center;
    justify-content: center; }
    .footer .iconos_redes a {
      font-size: 35px;
      text-align: center;
      width: 50px;
      height: 50px;
      line-height: 1.6;
      color: black; }
      .footer .iconos_redes a:hover {
        background-color: #EDE3E4;
        border-radius: 10px; }
  .footer .direccion {
    line-height: 1.6;
    padding: 18px 30px 8px 30px; }
  .footer .derechos_de_autor {
    font-size: 18px;
    line-height: 80px;
    padding: 30px 30px 0px 30px; }

.Miletra {
  font-family: "Quicksand", sans-serif; }
  .Miletra .tituloNuestrosProductos {
    text-align: center;
    font-size: 25px;
    padding-top: 15px; }

.perfumes {
  font-family: "Quicksand", sans-serif; }
  .perfumes .subtitulo-perfumes {
    font-weight: bold;
    font-size: 20px;
    text-align: center; }
  .perfumes .perfumes_ambientales,
  .perfumes .perfumes_corporales {
    padding: 20px 0px;
    line-height: 1.5; }
  .perfumes li {
    list-style-type: none;
    text-align: center;
    font-size: 18px; }

.producto-1 {
  max-height: 80%;
  width: 60%;
  text-align: center;
  padding-left: 35px; }

.producto-2 {
  max-height: 80%;
  width: 60%;
  text-align: center;
  padding-left: 35px; }

.container {
  font-size: 18px; }
  .container .notas-letra {
    color: #090809; }
  .container .MisImg {
    display: flex;
    justify-content: space-evenly; }
    .container .MisImg .Img1, .container .MisImg .Img2, .container .MisImg .Img3 {
      width: 35%;
      height: 55%;
      padding: 0px 8px; }
  .container .bloque-color {
    background-color: #DDCECD; }

#exampleFormControlInput1:focus,
#exampleFormControlTextarea1:focus,
.form-control:focus {
  border-color: #B98389;
  -webkit-box-shadow: none;
  box-shadow: none; }

.form-contacto {
  background-image: url(/imagenes/fondoperfumegris.webp);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat; }

@media screen and (max-width: 576px) {
  .sobre_nosotros .info-SN {
    font-size: 18px; } }

@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    justify-content: center;
    padding: 10px 5px; }
    .footer .direccion,
    .footer .derechos_de_autor,
    .footer .iconos_redes {
      text-align: center;
      font-size: 1rem;
      line-height: 1.6; }
    .footer .direccion {
      padding: 10px 12px 5px 12px; }
    .footer .derechos_de_autor {
      padding: 10px 10px 5px 10px; }
  .BloqueFragancias {
    font-size: 14px; }
  .container .MisImg {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .container .MisImg .Img1, .container .MisImg .Img2, .container .MisImg .Img3,
    .container .MisImg .Img2,
    .container .MisImg .Img3 {
      width: 90%;
      height: 90%; } }
