@import 'misVariables.scss';
@import 'reset.scss';

header{
    .MiNavBar{
        background-color: $primary-color;
        align-items: center;
        height: auto;
    } 
    .navbar a:hover{
        background-color: $secondary-color;
        border-radius: 5px;
    }
}

.MiContenedor{
    
    .image1, 
    .image2,
    .image3,
    .image4{
        max-width: 100%;
        max-height: auto;
    }    
}

.sobre_nosotros{
    padding: 18px 10px;

    .tituloSobreNosotros{
        font-family: $my-typography;
        font-size: 30px;
        font-weight:bold;
        text-align: center;
    }    
    p{
        font-family: $my-typography ;
        font-weight: 600;
        font-size: 20px;
        padding: 18px 10px;
        line-height: 1.6;
        text-align:center;
    }
}
.footer{
    background-color: $primary-color;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 15px;
    font-family: $my-typography;

    .iconos_redes{
        display: flex;
        align-items:center;
        justify-content:center;
        a{
            font-size: 35px;
            text-align: center;
            width: 50px;
            height: 50px;
            line-height: 1.6;
            color: black;

            &:hover{
                background-color: $secondary-color;
                border-radius: 10px;
            }
        }      
    }
  
    .direccion{
        line-height: 1.6;
        padding: 18px 30px 8px 30px;
    }
    .derechos_de_autor{
        font-size: 18px;
        line-height: 80px;
        padding: 30px 30px 0px 30px;
    }
}

//  ESTILO DE PRODUCTOS
.Miletra{
    font-family: $my-typography;
    .tituloNuestrosProductos{
        text-align: center;
        font-size: 23px;
        padding-top: 15px;
    }   
}    
.perfumes{
    font-family: $my-typography;
    .subtitulo-perfumes{
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }
    .perfumes_ambientales,
    .perfumes_corporales{
    padding: 20px 0px;
    line-height: 1.5;
    }
    li{ 
        list-style-type: none;
        text-align: center;
        font-size: 18px;  
    }
}

.producto-1{
    max-height: 80%;
    width: 80%;
    text-align: center;
    padding-left: 35px;
}
.producto-2{
    max-height: 80%;
    width: 80%;
    text-align: center;
    padding-left: 35px;
}

// FRAGANCIAS

.container{
    .borde{
        border: $primary-color solid 2px;
        border-radius: 5px;
    }
    .notas{
        font-family: $my-typography;
        color: $primary-color;
    }
}

// FORM DE CONTACTO

#exampleFormControlInput1:focus,
#exampleFormControlTextarea1:focus,
.form-control:focus{
    border-color: $primary-color;
    -webkit-box-shadow: none;
    box-shadow: none;
}


// Media querys

@media screen and (max-width:764px) {
    .footer{
        display: flex;
        flex-direction: column;
        padding-top: 15px;
        justify-content: center;
        padding: 10px 5px;
        .direccion,
        .derechos_de_autor,
        .iconos_redes{
        text-align: center;
        font-size: 1rem;
        line-height: 1.6;
        }
        .direccion{ 
        padding:10px 12px 5px 12px ;
        }
        .derechos_de_autor {
        padding: 10px 10px 5px 10px; 
        }
    }    
}










