@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: #B98389;
    align-items: center;
    height: 15vh;
    max-width: 100%;
}

header .navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

header .titulo_principal{
    font-size: 30px;
    font-weight:bold;
    color: white;
    font-family: 'Quicksand', sans-serif;
    margin-left: 40px;
    padding-left: 20px;
    line-height: 15vh;   

}

.navmenu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.link-item{
    margin: 10px 15px;
    line-height: 12vh;
    width: auto;
}
   
.navmenu li a{
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    font-weight: bolder;
    list-style-type: none;
    font-size: 18px;
    color: white;
    transition: 0.5s;
    border-radius: 5px;
}
.navbar a:hover{
    background-color: #d16583;
}
.borde_formulario{
    border: 3px solid black;
    max-width: 500px;
    margin: 25px;
    padding: 15px;
}
.promociones{
    margin: 0px 25px;
}
.formulario_contenido{
    padding: 10px;
    text-align: justify;
}

.footer{
    background-color: #B98389;
    color: #FFFCF7;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px 15px;
}

.footer .iconos_redes{
    display: flex;
    align-items:center;
    justify-content: center;
   
}

.footer .iconos_redes a{
    font-size: 34px;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 1.6;
    color: #FFFCF7;
    
}


.footer .direccion{
    line-height: 1.6;
}
.footer .derechos_de_autor{
    font-size: 18px;
    line-height: 70px;
}


.footer .direccion,
.footer .derechos_de_autor{
    font-family: 'Quicksand', sans-serif;
    font-weight:bolder;
    padding: 10px 30px;
}
