@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap')

*{
    margin: 0px;
    padding: 0px;
}
 
body{
    background-color: #FFEEDB;
    font-family: 'Roboto', sans-serif;
}
.navbar{
    background-color: #C9184A ;
    margin: 0%;
    display: flex;
    justify-content: space-between;
}
.title{
    font-size: 30px;
    color: white;
    text-align: end;
    padding: 15px;
}

.navbar a:hover{
    background-color: #d1577a;
}

.navlinks li {
    display: inline-block;
    margin: 30px 20px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
    font-size: large;
    list-style-type: none;  
}
.preguntas_frecuentes a{
    color: black;
    margin: 15px;

}
.dudas_adicionales label{
    font-size: large;
    font-weight: bold;
    margin: 15px;
}
.dudas_adicionales{
    margin-top: 30px;
}
.dudas_adicionales textarea{
    margin: 15px 15px;
    border: 2px solid black;
    width: 400px;
    height: 200px;
}
.enviar_boton{
    margin: 5px 15px;
}
.volver_boton a{
    color: black;
    border: 3px solid #d1577a;
    padding: 5px;
    margin: 25px 15px;
}
.tituloDireccion {
    font-size: 25px;
    color:black;
    margin: 30px 0px 0px 15px;
}

#addres{
    padding-top: 40px;
}

.direccion{
    color: rgb(0, 0, 0);
    font-size:large;
    padding: 15px;
}

.derechos-de-autor{
    color: rgb(0, 0, 0);
    font-size: medium;
    padding: 15px;
    font-weight: bold;
}