@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
.MiNavBar{
    background-color: #B98389;
    align-items: center;
    height: auto;
}


.navbar a:hover{
    background-color:  #FFFCF7;
    border-radius: 5px;
}


/* .preguntas_frecuentes a{
    color: black;
    margin: 15px;

}
.dudas_adicionales label{
    font-size: large;
    font-weight: bold;
    margin: 15px;
} */
.dudas_adicionales{
    margin-top: 30px;
}
.dudas_adicionales textarea{
    margin: 15px 15px;
    border: 2px solid black;
    width: 400px;
    height: 200px;
    border-radius: 5px;
}
.enviar_boton{
    margin: 5px 15px;
}

.footer{
    background-color: #B98389;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px 15px;
}

.footer .iconos_redes{
    display: flex;
    align-items:center;
    justify-content: center;
   
}

.footer .iconos_redes a{
    font-size: 34px;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 1.6;
    color: black;
    
}


.footer .direccion{
    line-height: 1.6;
}
.footer .derechos_de_autor{
    font-size: 18px;
    line-height: 70px;
}


.footer .direccion,
.footer .derechos_de_autor{
    font-family: 'Quicksand', sans-serif;
    font-weight:bolder;
    padding: 10px 30px;
}

@media screen and (max-width:764px) {
    .footer{
        display: flex;
        flex-direction: column;
        padding-top: 15px;
        justify-content: center;
    }
    .footer .direccion,
    .footer .derechos_de_autor,
    .footer .iconos_redes{
        text-align: center;
        font-size: 1rem;
    
    }
    
}

